.logoContainer {
    width: 15rem;
    img {
        height: 1.7rem;
        margin-left: .8rem;
    }
}

.searchBarContainer {
    margin: 0 4rem;
    flex: 1;
    display: flex;
    input {
        flex: 1;
        display: flex;
        padding: .2rem .6rem;
        max-width: 70%;
        font-weight: 100;
        font-size: 1.4rem;
        border: 1px solid #ccc;
        border-top-left-radius: .2rem;
        border-bottom-left-radius: .2rem;
        border-right: none;
        height: 3.2rem;
        box-shadow: #eee 0px .1rem .2rem 0px inset;
    }
    form {
        flex: 1;
        display: flex;
        button {
            height: 3.2rem;
            background-color: #f8f8f8;
            border: .1rem solid #d3d3d3;
            border-top-right-radius: .2rem;
            border-bottom-right-radius: .2rem;
            cursor: pointer;
            width: 6.5rem;
            img {
                height: 2rem;
                width: 2rem;
            }
        }
    }
}